
body {
    background-color: rgba(90, 58, 5, 0.97);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: crimson;
    font-family: 'Verdana', sans-serif; 
    font-size: 30px; 
    background-color: white
}
h1,h2{
    
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}
.text{
    
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
}
.logo { 
    margin-right: 20px;
}

.logo img { 
    height: 130px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.description {
    margin-left: 20px;
    font-size: 16px;
}

.description a { 
    color: #007bff;
    text-decoration: none;
    padding: 20px;
}

.description a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer a {
    color: white;
    text-decoration: none;
}


